# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 PrintForge Contributors

# Patterns to ignore when building packages.
.DS_Store
*.swp
*.bak
*.tmp
*.orig
*~
.git
.gitignore
.bzr
.bzrignore
.hg
.hgignore
.svn
*.tmproj
.vscode
.idea
